[submodule "communityhero-landing"]
	path = communityhero-landing
	url = https://github.com/cfalas/communityhero-landing
[submodule "communityhero-smsgateway"]
	path = communityhero-smsgateway
	url = https://github.com/cfalas/communityhero-smsgateway
[submodule "communityhero-websms"]
	path = communityhero-websms
	url = https://github.com/cfalas/communityhero-websms
[submodule "communityhero-delivery"]
	path = communityhero-delivery
	url = https://github.com/cfalas/communityhero-delivery
[submodule "communityhero-backend"]
	path = communityhero-backend
	url = https://github.com/cfalas/communityhero-backend.git
